* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

:root {
    --primary: #41729F;
    --secondary: #bfc8d6;
    --blue: #274472;
    --orange: #E08955;
}

.nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 85px;
    justify-content: space-between;
    background-color: var(--primary);
}

.navbar-links {
    display: flex;
    width: 60%;
}
.navbar-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    width: 100%;
    
}

.navbar-links li {
    align-items: center;
}

.navbar-links li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.navbar-links li a:hover {
    background-color: #274472;
    transition: 0.2s;
}

.logo {
    color: white;
    align-items: center;
    margin: auto;
    font-style: italic;
    font-size: 36px;
}

.mobile-view {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 28px;
    align-items: center;
    height: 24px;
    right: 32px;
}

.mobile-view .bar {
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.dropdown .dropdownbtn {
    color: white;
    font-size: 18px;
    background-color: var(--primary);
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.dropdown:hover .dropdownbtn {
    background-color: #274472;
    transition: 0.2s;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: var(--primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    float: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    text-decoration: underline;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.hero {
    width: 100%;
    height: 650px;
}

.hero-image {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('images/gameimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.hero-section {
    text-align: center;
    color: white;
    margin-bottom: 80px;
    width: 60%;
}

.hero-title {
    font-size: 3.4rem;
    letter-spacing: 1px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
 font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.hero-text {
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn {
    font-size: 18px;
    padding: 14px 20px;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.primary {
    background: var(--primary);
    background-size: 200%;
    color: white;
    transition: 0.2s ease-in;
}

.primary:hover {
    background: none;
    border: 2px solid var(--primary);
}

.showcase {
    height: 400px;
}

.showcase-title {
    color: var(--blue);
    text-align: center;
    font-size: 32px;
}

.showcase-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12px;
}

.showcase-product {
    display: block;
}
.showcase-image {
    width: 300px;
    height: 260px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    mix-blend-mode: multiply;
    object-fit: contain;
    transition: 0.2s ease-in;
}

.showcase-image:hover {
    transform: scale(1.05); 
}

.product-name {
    font-size: 18px;
    color: var(--blue);
    cursor: pointer;
}

.product-name:hover {
    text-decoration: underline;
}

.best-sellers-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.best-sellers-product {
    display: block;
    width: 320px;
    text-align: left;
}

.image-container {
    position: relative;
    width: 320px;
    height: 280px;
    display: inline-block;
    overflow: hidden;
  }
.products-image {
    display: block;
    width: 320px;
    height: 280px;
    border-radius: 4px;
    transition: 0.4s opacity ease;
    object-fit: cover;
}

.products-hover {
    position: absolute;
    width: 320px;
    height: 280px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.4s ease;
    object-fit: cover;
}


.image-container:hover .products-image {
    opacity: 0;
  }
  
.image-container:hover .products-hover {
    opacity: 1;
  }

.best-sellers-title {
    color: var(--blue);
    text-align: center;
    font-size: 32px;
}

.best-sellers-para {
    color: var(--blue);
    text-align: center;
    font-size: 18px;
}

.trending-button {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    background: none;
    border: 2px solid var(--primary);
    color: var(--blue);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.trending-button:hover {
    border: 2px solid #152745;
    color: #152745;
}

.best-sellers-product-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary);
}

.best-sellers-product-price {
    color: var(--blue);
}

.info {
    margin-top: 120px;
    background-color: var(--secondary);
    border-radius: 60px;
    max-height: 680px;
}
.info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.info-title {
    color: var(--primary);
    text-align: center;
    font-size: 32px;
    padding: 40px;
}
.info-images {
    width: 50%;
    height: 450px;
}
.info-image {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: fill;
}
.info-para {
    width: 40%;
}

.info .info-text {
    color: var(--primary);
}

.info-para h1 {
    color: var(--blue);
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
}

.info-para p {
    color: #293340;
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    line-height: 28px;
}

.info-button {
    background-color: var(--orange);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.info-button:hover {
    transform: scale(1.1);
}

.faq {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
.faq h1 {
    color: var(--blue);
    font-size: 32px;
    text-align: center;
}

.accordion{
    background-color: var(--primary);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 24px;
    transition: 0.8s;
    cursor: pointer;
    margin-bottom: 14px;
}

.active, .accordion:hover {
    background-color: var(--blue);
}
.faq span {
    float: right;
}

.panel {
    overflow: hidden;
    padding: 20px;
    display: none;
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;    
}

.footer {
    padding: 20px;
    background-color: var(--primary);
}

.sections {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    color: white;   
}

.section {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
 font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.footer a {
    text-decoration: none;
    color: white;
    margin-top: 12px;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    .showcase-title {
        font-size: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .best-sellers {
        margin-top: 240px;
    }

    .best-sellers-content {
        row-gap: 240px;
    }

    .best-sellers-product {
        width: 200px;
    }

    .products-hover {
        width: 200px;
        height: 200px;
    }
    .products-image {
        width: 200px;
        height: 200px;
    }

    .info {
        height: 600px;
    }

    .info-title {
        padding: 10px;
    }

    .info-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .info-para {
        width: 100%;
    }

    .info-images {
        display: none;
    }

   .sections {
    width: 100%;
   }
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2.8rem;
    }
    .hero-section {
        max-height: 500px;
        margin-top: 40px;
        width: 100%;
    }
}
@media (max-width: 800px) {
    .mobile-view {
        display: flex;
        top: 32px;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        padding: 24px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--primary);
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: var(--primary);
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        margin-bottom: 14px;
        flex-direction: column;
    }

    .navbar-links li a {
        font-size: 20px;
    }

    .navbar-links.active {
        display: flex;
    }
    .dropdown {
        display: flex;
        padding: 0;
    }
    .showcase-product {
        width: 180px;
    }
    .showcase-image {
        width: 180px;
        height: 200px;
    }

}


@media screen and (max-width: 850px) {
    .showcase-product {
        width: 160px;
    }
    .showcase-image {
        width: 80px;
        height: 160px;
    }
    .best-sellers-product {
        width: 120px;
        height: 100px;
    }
    .products-hover {
        width: 120px;
    }
    .products-image {
        width: 120px;
    }

}

@media screen and (max-width: 1250px) {
    .showcase-product {
        display: block;
        width: 250px;
    }
    .showcase-image {
        width: 250px;
        height: 200px;
    }

    .best-sellers-product {
        display: block;
        width: 250px;
        height: 200px;
    }
    .products-hover {
        width: 250px;
    }
    .products-image {
        width: 250px;
    }
    .info {
        margin-top: 250px;
    }

}

@media screen and (max-width: 1050px) {
    .showcase-title {
        width: 80%;
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
    }
    .showcase-product {
        display: block;
        width: 200px;
    }
    .showcase-image {
        width: 200px;
        height: 200px;
    }
    .best-sellers-product {
        display: block;
        width: 200px;
    }
    .products-hover {
        width: 200px;
    }
    .products-image {
        width: 200px;
    }

    
}